<html><head>


    <script src="main.js"></script>
   <link rel="stylesheet" href="style.css">
</head>
<body>
    
    
        
    <span><div style="float: left; margin-left: 350px; margin-top: 150px;"><img onclick="admin_login()" id="userimg" class="user1" src="user.png"> <h3 id="admin">Admin</h3></div><div style=" margin-top: 150px; float: right; margin-right: 350px;"><img onclick="user_login()" id="userimg" class="user2" src="user.png">
        <h3 id="users">User</h3></div></span>  
</body></html>